$twitter-color: #1da1f2;
$twitter-color-hover: #00b6f1;
$corner-border: 2px solid rgba(#aab8c2, 0.5);
$bottom-border: 1px solid rgba(#aab8c2, 0.5);
$color-dark: #14171a;
$color-white: #ffff;
$input-background: #e1e8ed;
$input-background-active: #f5f8fa;
$color-light: #657786;
$main-background: #e1e8ed;
